<!DOCTYPE html>
<html>
  <head>
    <title>waldron.im</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://kit.fontawesome.com/6c80791dfe.js': 'reload' %>
  </head>

  <body>
    <div class="master-container">

      <div class="header-container">
        <%= render 'shared/header' %>
      </div>

      <div class="navbar-container">
        <%= render 'shared/navbar' %>
      </div>

      <div class="content-container">
        <%= yield %>
      </div>

      <div class="footer-container">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
